<h1 class="text-center mb-3">{{title}}</h1>

{{!-- post for with bootstrap --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{title}}</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {{#each members}}
                        <li class="list-group-item">
                            {{this.name}}: {{this.email}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            {{!-- create bootstrap form post /api/members --}}
            <div class="card mt-3">
                <div class="card-header">
                    <h3 class="card-title">Create Member</h3>
                </div>
                <div class="card-body">
                    <form action="/api/members" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                        </div>
                        {{!-- status --}}
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="status" name="status">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>